@font-face {
	font-family: 'NightmareBeforeChristmas';
	src: url('/fonts/NightmareBeforeChristmas.ttf') format('truetype');
}

@font-face {
	font-family: 'Balsamiq';
	src: url('/fonts/BalsamiqSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Balsamiq';
	src: url('/fonts/BalsamiqSans-Italic.ttf') format('truetype');
	font-style: italic;
}

body {
	/* when any colors change, be sure to update /lib/constants/colors as well */
	--dark-100: #000000;
	--dark-300: #0a0a0a;
	--dark-500: #303030;
	--light-100: #d1d1d1;
	--light-500: #eaeaea;
	--light-900: #ffffff;
	--primary-500: oklch(55.29% 0.215 145.06);
	--secondary-100: oklch(40% 0.18 80.47);
	--secondary-200: oklch(50% 0.18 80.47);
	--secondary-300: oklch(60% 0.18 80.47);
	--secondary-400: oklch(70% 0.18 80.47);
	--secondary-500: oklch(80% 0.18 80.47);
	--danger-500: oklch(54.26% 0.239 29.12);

	/* --font-primary: Lato, sans-serif; */
	--font-primary: NightmareBeforeChristmas, sans-serif;
	--font-secondary: Balsamiq, sans-serif;
	/* --font-secondary: Merriweather, sans-serif; */

	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
	box-sizing: border-box;
}

body * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-secondary);
	color: var(--light-500);
}

a:focus {
	border: none;
	outline: none;
}

p {
	font-size: 0.9rem;
	line-height: 1.5rem;
	text-indent: 1rem;

	@media (min-width: 768px) {
		font-size: 1rem;
		line-height: 1.8rem;
	}
}

p:not(:last-child) {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.primary-font {
	font-family: var(--font-primary);
	color: var(--light-500);
	letter-spacing: 0.05rem;
}

h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 *,
.primary-font * {
	font-family: var(--font-primary);
	color: var(--primary-500);
	letter-spacing: 0.05rem;
}

h1,
h1 * {
	font-size: 2rem;
	text-align: center;
	line-height: 2.6rem;

	@media (min-width: 768px) {
		font-size: 3rem;
		line-height: 3.6rem;
	}
}

h2,
h2 * {
	font-size: 1.75rem;
	text-align: center;
	line-height: 2.4rem;

	@media (min-width: 768px) {
		font-size: 2.4rem;
		line-height: 3rem;
	}
}

h3,
h3 * {
	font-size: 1.5rem;
	text-align: center;
	line-height: 2.2rem;

	@media (min-width: 768px) {
		font-size: 2rem;
		line-height: 2.6rem;
	}
}

h4,
h4 * {
	font-size: 1.3rem;
	text-align: center;
	line-height: 2rem;

	@media (min-width: 768px) {
		font-size: 1.6rem;
		line-height: 2.2rem;
	}
}

h5,
h5 * {
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.8rem;
}

h6,
h6 * {
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.4rem;
}

ol,
ul {
	padding: 1rem 0 1rem 2rem;
}

ol:not(:last-child),
ul:not(:last-child) {
	margin-bottom: 1rem;
}

li {
	font-size: 0.9rem;
	line-height: 1.5rem;

	@media (min-width: 768px) {
		font-size: 1rem;
		line-height: 1.8rem;
	}
}

li:not(:last-child) {
	margin-bottom: 0.5rem;
}

/* helper classes */

.error {
	color: var(--danger-500);
	font-size: 0.7rem;
	line-height: 0.7rem;
	text-indent: 0;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
