body {
  --dark-100: #000000;
  --dark-300: #0A0A0A;
  --dark-500: #303030;
  
  /* TREES */
  --tree-100: #0E0A07;
  --tree-400: #181411;
  --tree-700: #29211A;

  /* GROUND */
  --dirt-100: #000000;
  --dirt-300: #030303;
  --dirt-500: #110F0D;
  --dirt-700: #211F1D;
  --dirt-900: #312E2B;

  /* GRASS */
  --grass-100: #0C0F0C;
  --grass-400: #121C11;
  --grass-700: #1F301D;

  margin: 0;
  padding: 0;
  background: var(--dark-500);
  overflow: hidden;
  box-sizing: border-box;
}