name: CI/CD Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}
  PUBLIC_SENTRY_DSN: ""
  PUBLIC_APP_ENV: "test"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build --if-present
      - name: Exec Unit Tests
        run: npm run test:unit
      - name: Save build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build